.navbar{
    display:flex;
    padding: 2vw;
    margin-top:2vw;
    justify-content: center;
}
.logo-container{
    display:flex; 
    /* justify-content: center; */
    width: 40%;
    align-items: center;
} 
.img1-logo{
    width: 2vw;
    height: 6vh;
}
.img2-logo{
    width: 10vw;
}
.nav-list{
    display:flex;
    list-style-type:none; 
    justify-content: center;
    align-items: center;
}
.nav-list li{
    margin: 1vw;
    color:#179fbd;
    font-size: 1.6vw;
    font-weight:700;
}

.container1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.container1-btn1{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:700;
    
    border-radius:10px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #179fbd;
} 
.container1-btn2{ 
    color: #179fbd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:700;
    border-radius:10px;
    margin: 4px 2px;
    cursor: pointer; 
    border:2px solid black;
}

.container1-left h1{
    font-size: 3vw;
    font-weight: bolder;
}
.container1-left{
    width:50%;
    display:grid;
    justify-content: center;
    align-items: center;
}
.container1-right{
    width:50%;
}
.container1-right img{
    width:80%;
}